# Задание по программированию: Предобработка данных в Pandas

In [2]:
import pandas
data = pandas.read_csv('./data/titanic.csv', index_col='PassengerId')

In [46]:
print(len(data))
data.head()
# data.tail()

891

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа через пробел.

In [44]:
# count male and female
print(f"{len(data[data['Sex'] == 'male'])} {len(data[data['Sex'] == 'female'])}")

577 314

## 2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [4]:
print(f"{round(100 * len(data[data['Survived'] == 1]) / len(data), 2)}")

38.38

## 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков.

In [5]:
print(f"{round(100 * len(data[data['Pclass'] == 1]) / len(data), 2)}")

24.24

## 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел.

In [43]:
print(f"{round(data['Age'].mean(), 2)} {data['Age'].median()}")

29.7 28.0

## 5. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch.

In [7]:
# print(f"{data[5:6, :]}")
print(f"{data[['SibSp', 'Parch']].corr()}")

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

## 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [8]:
female_name = data[data['Sex'] == 'female']['Name']

In [47]:
female_name.head()

PassengerId
2     Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                Heikkinen, Miss. Laina
4          Futrelle, Mrs. Jacques Heath (Lily May Peel)
9     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [10]:
female_name[3].split('.')

['Heikkinen, Miss', ' Laina']

In [42]:
import collections
c = collections.Counter()

for str_ in female_name:
    _ = str_.split('(')
    if len(_) == 1:
        _ = str_.split(' ')[2]
        c[_] += 1
    else:
        _ = _[1].split(' ')[0]
        c[_] += 1
print(c.most_common(1)[0][0])

Anna